html {
  font-family: verdana;
}

#header {
  background-color: blue;
  border: 1.5px solid #4da6ff;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
}

#drive-btns {
  margin: 5px;
  text-align: center;
  width: 100% content-box;
}

#drive-btns button {
  display: block;
}

#drive-btns button:first-child {
  margin-top: auto;
}

#drive-btns button:hover {
  background-color: blue;
}
#direction-container {
  width: max-content;
  text-align: center;
}
#direction {
  font-weight: bold;
  text-align: center;
}

.container {
  border: 5px solid blue;
  margin: 10px;
  text-align: center;
}
#drive.container {
  max-width: 200px;
  min-width: 175px;
}

#stream.container {
  width: min-content;
}
img {
  max-width: 320px;
  max-height: 240px
  border: 1.5px solid #4da6ff;
}
.btn {
  background-color: #4da6ff;
  border: 1.5px solid blue;
  border-radius: 5px;
  cursor: pointer;
  color: #FFFFFF;
  margin-top: 5px;
  width: 100%;
}
