
# This file specifies server-script configuration for this project
# If you cannot see secrets.cson in Atom, click on the treeview and press the letter i

server:
  location: '192.168.5.14'
  projectRoot: '/home/jack/skycam'
  # login info is kept in secrets.cson

options:
  syncChangedFiles: no
  scriptOnRun:  'main.py'
  scriptOnSave: ''
  useGitignore: yes
  logToConsole: yes
